<?xml version="1.0"?>
<config>
    <modules>
        <ES_DbProfiler>
            <version>0.1.0</version>
        </ES_DbProfiler>
    </modules>
    <global>
        <events>
            <controller_front_init_before>
                <observers>
                    <es_dbprofiler>
                        <class>es_dbprofiler/observer</class>
                        <method>controllerFrontInitBefore</method>
                        <type>singleton</type>
                    </es_dbprofiler>
                </observers>
            </controller_front_init_before>
            <controller_front_send_response_after>
                <observers>
                    <es_dbprofiler>
                        <type>singleton</type>
                        <class>es_dbprofiler/observer</class>
                        <method>controllerFrontSendResponseAfter</method>
                    </es_dbprofiler>
                </observers>
            </controller_front_send_response_after>
        </events>
        <models>
            <es_dbprofiler>
                <class>ES_DbProfiler_Model</class>
                <resourceModel>es_dbprofiler_resource</resourceModel>
            </es_dbprofiler>
            <es_dbprofiler_resource>
                <class>ES_DbProfiler_Model_Resource</class>
                <entities>
                    <log>
                        <table>es_performance_log</table>
                    </log>
                    <queries>
                        <table>es_performance_log_queries</table>
                    </queries>
                </entities>
            </es_dbprofiler_resource>
        </models>
        <blocks>
            <es_dbprofiler>
                <class>ES_DbProfiler_Block</class>
            </es_dbprofiler>
        </blocks>
        <helpers>
            <es_dbprofiler>
                <class>ES_DbProfiler_Helper</class>
            </es_dbprofiler>
        </helpers>
        <resources>
            <es_dbprofiler_setup>
                <setup>
                    <module>ES_DbProfiler</module>
                </setup>
            </es_dbprofiler_setup>
        </resources>
    </global>

</config>